form {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label,
select,
input[type="checkbox"],
input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 1.2em;
}

input[type="text"],
input[type="email"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 46px;
}

select {
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    background-color: #fff;
}

input[type="checkbox"] {
    margin: 0;
}

input[type="submit"] {
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

@media (max-width: 768px) {
    form {
        width: 80%;
    }
}

.admin-button {
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a {
    color: white;
}

.admin-button:hover {
    background-color: #3498db;
}

@media (max-width: 768px) {
    .admin-button {
        position: static;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
}